.banner-image{
    background-image: url("https://img.freepik.com/free-photo/desktop-with-notebook_23-2148128806.jpg?w=900&t=st=1681372773~exp=1681373373~hmac=eb662cdf532afb8cb399f36a95ec46d28343bd5b7a10115ed9cec905b493cb74");
    background-size: cover ;
}

.bg-yellow {
    background-color: #f0dcb2;
  }



.meeting-image{
    background-image: url("https://img.freepik.com/free-photo/happy-young-asian-businessmen-businesswomen-meeting-brainstorming-ideas_7861-3089.jpg?w=1060&t=st=1681383957~exp=1681384557~hmac=382e03563ea72a3f64c457e01de6f6001601286fceddca3542d79102fc7a642f");
    background-size: 500px;



}

